<form [formGroup]="resultform">
    <div class="block">
        <label for="input-x">X:</label>
        <select id="input-x" [(ngModel)]="defaultValueX"  formControlName="x">
            <option value="-4">-4</option>
            <option value="-3">-3</option>
            <option value="-2">-2</option>
            <option value="-1">-1</option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
    </div>
    <div class="block">
        <label for="input-y">Y (-3, 3):</label>
        <input type="text" id="input-y" formControlName="y"/>
    </div>
    <div class="block">
        <label for="input-r">R:</label>
        <select id="input-r" [(ngModel)]="defaultValue" formControlName="r">
            <option value="-4">-4</option>
            <option value="-3">-3</option>
            <option value="-2">-2</option>
            <option value="-1">-1</option>
            <option value="1" selected="selected">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
    </div>
    <div class="block">
        <button type="button" class="button" (click)="send();">Send</button>
        <button type="button" class="button" (click)="clearTable();">Clear Table</button>
    </div>
    <p id="error"></p>
</form>
