<form [formGroup]="mainform">
    <div class="holder">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" formControlName="username"/>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" formControlName="password"/>
        </div>
        <div>
            <button type="button" (click)="signIn()">Sign In</button>
            <button type="button" (click)="signUp()">Sign Up</button>
        </div>
        <button type="button" (click)="reset()">Reset</button>
    </div>
</form> 